@import '../../../../../utils.scss';

.card {
  @include wh(263px, 327px);
  @include flex();
  padding: 20px 0 10px 0;
  flex-direction: column;
  background-color: $bgMain;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 1px 8px black;

    .container {
      @include flex();
      @include wh(inherit, 161px);
      flex-direction: column;
    }

    .card__statistics {
      @include wh(202px, 20px);
      @include flex();

        .block {
          @include flex();

            .view__count {
              @include font($font-size: 10px, $line-height: 12px);
              padding-bottom: 5px
            }
        }
     }

     .card__title {
      @include wh(223px);
      @include font($font-size: 20px, $line-height: 23px, $font-weight: 700);
      margin: 0;
      color: $LoginColor;
      text-align: center;
     }

     .card__btn {
      @include wh(120px, 32px);
      @include font($font-size: 12px);
      background-color: $btnMain;
      color: $white;
     }
}
