<div class="wrapper">
  <header class="header">
    <div class="search__container">
      <img class="logo" src="assets/svg/logo.svg" alt="sprite-main" />
      <app-input-search></app-input-search>
      <button class="btn__search" mat-raised-button (click)="getResult()">
        search
      </button>
      <button class="btn__settings" (click)="toggleSettings = !toggleSettings">
        <svg-icon-sprite
          [src]="'settings'"
          [title]="'settings'"
          [width]="'32px'"
          [height]="'32px'"
        >
        </svg-icon-sprite>
      </button>
    </div>
    <div class="log__container">
      <p class="log__name">{{ loginName }}</p>
      <button class="btn__login">
        <svg-icon-sprite
          [src]="'login'"
          [title]="'login'"
          [width]="'31px'"
          [height]="'32px'"
        >
        </svg-icon-sprite>
      </button>
    </div>
    <svg class="icon-box" width="22" height="32">
      <use xlink:href="assets/svg/search_settings.svg"></use>
    </svg>
  </header>
</div>
<app-filter *ngIf="toggleSettings"></app-filter>
