@import '../../../../utils.scss';

.wrapper {
  @include wh();
  background-color: $bgMain;

  .header {
    @include flex($justify-content: center);
    position: relative;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    gap: 60px;

      .search__container {
        @include wh(570px, 50px);
        @include flex();

        .log {
          cursor: pointer;
        }
      }
  }
}

.log__container {
  @include flex();
  @include wh(100px, 50px);
  position: absolute;
  right: 150px;

    .btn__login {
      @include wh(26px, 26px);
      border: 0;
      cursor: pointer;
    }

    .log__name {
      @include font($font-size: 12px);
      padding-top: 11px;
      color: $LoginColor;
    }
}

.btn__settings {
  @include wh(30px, 30px);
  border: 0;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.admin {
  @include wh (50px, 50px);
  border: 0;
  cursor: pointer;
}







