<form class="email-form">
  <mat-form-field class="email-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="Ex. pat@gmail.com"
      (input)="changeValidStatus()"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      The login email is invalid
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Please enter a login email
    </mat-error>
  </mat-form-field>
</form>
