<div class="card">
  <div class="container">
    <img
      [src]="card.snippet.thumbnails.medium.url"
      width="223"
      height="123"
      [alt]="card.snippet.title"
    />
    <app-statistics [card]="card"></app-statistics>
  </div>
  <h2 class="card__title">{{ card.snippet.title }}</h2>
  <button
    class="card__btn"
    routerLink="/youtube/detailed"
    [queryParams]="{ id: card.etag }"
    mat-raised-button
  >
    more...
  </button>
  <div [appHighlight]="card.snippet.publishedAt" class="card__highlight"></div>
</div>
