@import '../../../../utils.scss';

.container {
  @include wh (400px, 330px);
  position: absolute;
  top: calc(50% - 165px);
  left: calc(50% - 200px);
  padding: 20px;
  background-color: $bgMain;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2);
  border-radius: 30px;

  .btn__login {
    @include wh(125px, 30px);
    @include flex($justify-content: center);
    background-color: rgba(47, 128, 237, 0.3);
    color: $white;
    cursor: pointer;
  }

  .login__status {
    background-color: $btnMain;
  }

    .contatiner__btn {
      @include wh (100%, auto);
      @include flex($justify-content: flex-end);
      gap: 10%;
    }
}

.btn__logout {
  @include wh(125px, 30px);
  @include flex($justify-content: center);
   background-color: $btnMain;
  color: $white;
}

.container {
  .btn {
    @include wh (100%, auto);
    @include flex($justify-content: center);
  }
}

.container__logout {
  @include wh (400px, 130px);
  position: relative;

    .title__logout {
      text-align: center;
    }

    .button__close {
      @include wh(25px,20px);
      @include flex($justify-content: center);
      position: absolute;
      top: 10px;
      right: 10px;
      border: 0;
      cursor: pointer;

        .icon__close {
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
        }

        .icon__close:hover {
          filter: invert(0.5);
          -webkit-filter: invert(0.5);
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
        }
    }
}
