<div class="container" *ngIf="!authState.getCurrentState(); else logout">
  <h1 class="title">Login</h1>
  <app-input-email (email)="toggleAccess($event)"></app-input-email>
  <app-input-password (password)="toggleAccess($event)"></app-input-password>
  <div class="contatiner__btn">
    <a>Registration</a>
    <button
      #btnLogin
      routerLink="/youtube/main/search"
      class="btn__login"
      (click)="authState.setAuthState(true)"
      [disabled]="!isAccess"
    >
      Login
    </button>
  </div>
</div>
<ng-template #logout>
  <div class="container container__logout">
    <h1 class="title title__logout">Press the button to exit</h1>
    <div class="contatiner__btn btn">
      <button
        routerLink=""
        class="btn__logout"
        (click)="authState.setAuthState(false); removeQuery()"
        mat-raised-button
      >
        Logout
      </button>
      <button
        class="button__close"
        routerLink="/youtube/main/search"
        [queryParams]="{ req: curQuery }"
      >
        <mat-icon class="icon__close">close</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
