<div class="container" *ngIf="!login; else logout">
  <h1 class="title">Login</h1>
  <app-input-email></app-input-email>
  <app-input-password></app-input-password>
  <div class="contatiner__btn">
    <a>Registration</a>
    <button
      routerLink="/youtube/main"
      (click)="loginService.login()"
      class="btn__login"
      mat-raised-button
    >
      Login
    </button>
  </div>
</div>
<ng-template #logout>
  <div class="container container__logout">
    <h1 class="title title__logout">Press the button to exit</h1>
    <div class="contatiner__btn btn">
      <button
        routerLink=""
        class="btn__logout"
        (click)="loginService.logout()"
        mat-raised-button
      >
        Logout
      </button>
      <button class="button__close" routerLink="/youtube/main/search">
        <mat-icon class="icon__close">close</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
