<div class="wrapper">
  <div class="input__container">
    <input
      #search
      class="input"
      matInput
      type="text"
      [(ngModel)]="value"
      autofocus
      placeholder="What are you want to find out?"
    />
    <ng-container *ngIf="value">
      <button class="button" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
  </div>
  <button
    class="btn__search"
    mat-raised-button
    routerLink="/youtube/main/search"
    [queryParams]="{ req: value }"
    (click)="getResult(value)"
  >
    search
  </button>
</div>
