<form class="password-form">
  <mat-form-field class="password-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      [formControl]="passwordFormControl"
      [(ngModel)]="authState.password"
      (input)="changeValidStatus()"
      placeholder="min. 8 characters"
    />
    <mat-error
      *ngIf="
        passwordFormControl.hasError('minlength') &&
        !passwordFormControl.hasError('required')
      "
    >
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
