<form class="password-form">
  <mat-form-field class="password-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="email"
      matInput
      [formControl]="passwordFormControl"
      (input)="changeValidStatus()"
      placeholder="min. 8 characters"
      name="first"
    />
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Please enter a password
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('hasUpperAndLowercase')">
      Your password isn't strong enough need of both uppercase and lowercase
      letters
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('hasMinCharacters')">
      Your password isn't strong enough need at least 8 characters
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('hasLettersAndNumbers')">
      Your password isn't strong enough need a mixture of letters and numbers
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('hasSpecialCharacter')">
      Your password isn't strong enough need inclusion of at least one special
      character, e.g., ! @ # ? % ^ & *]
    </mat-error>
  </mat-form-field>
</form>
